// scss-lint:disable all

@font-face {
  font-family: "tommorrow";
  src: url("./assets/fonts/tommorrow.eot");
  src: url("./assetsfonts/tommorrow.eot") format("embedded-opentype"),
    url("./assetsfonts/tommorrow.ttf") format("truetype"),
    url("./assets/fonts/tommorrow.woff") format("woff"),
    url("./assets/fonts/tommorrow.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "tommorrow" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron:before {
  content: "\e900";
}
.icon-bell:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e902";
}
.icon-bookmark:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-caret:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-lock:before {
  content: "\e908";
}
.icon-star:before {
  content: "\e909";
}
.icon-community:before {
  content: "\e90a";
}
.icon-expert:before {
  content: "\e90b";
}
.icon-store:before {
  content: "\e90c";
}
.icon-bookmark-filled:before {
  content: "\e90d";
}
.icon-menu:before {
  content: "\e90e";
}
.icon-new:before {
  content: "\e90f";
}
.icon-home2:before {
  content: "\e910";
}
