// sass-lint:disable-all

@font-face {
  font-family: "tommorrow";
  src: url("./assets/fonts/tommorrow.eot");
  src: url("./assetsfonts/tommorrow.eot") format("embedded-opentype"),
    url("./assetsfonts/tommorrow.ttf") format("truetype"),
    url("./assets/fonts/tommorrow.woff") format("woff"),
    url("./assets/fonts/tommorrow.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
